body {
  font-family: 'Courier New', monospace;
}

button {
  border-radius: 7px;
  min-width: 70px;
  padding: 10px;
}

#page-title {
  display: block;
  text-align: center;
  font-size: 5em;
  margin: 40px 0 40px 0;

  @media(max-width: 1000px) {
    font-size: 3em;
    margin: 20px 0 20px 0;
  }
}

#victory-title {
  display: block;
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 4em;
  color: green;

  @media(max-width: 1000px) {
    font-size: 2em;
    margin: 10px 0 10px 0;
  }
}

#game-container {
  margin: 0 auto 0 auto;
  width: 60%;
  padding: 0 40px 40px 40px;

  @media(max-width: 1000px) {
    width: auto;
    padding: 0;
  }
}

.row {
  margin: 0 10px 0 10px;
}

.autoComplete_wrapper {
  display: inline-block;
  width: 100%;
}

#new-guess-row {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

#new-guess-input {
  width: 100%;
}

#guess-results-titles-row {
  margin-bottom: 10px;
}

#guess-results-titles-row, .guess-result-row {
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);
  gap: 5px;
}

.guess-result-title {
  background-color: darkslategray;
  padding: 10px 0 10px 0;
  font-size: 1.3em;

  @media(max-width: 1000px) {
    font-size: 1em;
  }
}

.guess-result-row {
  margin-bottom: 5px;
}

.guess-result-cell {
  font-size: 2em;

  @media(max-width: 1000px) {
    font-size: 1em;
  }

  &.correct {
    background-color: green;
  }

  &.partially-correct {
    background-color: orange;
  }

  &.incorrect {
    background-color: red;
  }
}

.cell {
  display: inline-block;
  border-radius: 10px;
  color: white;
  text-align: center;
  align-content: center;
  min-width: 70px;

  img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
}
