body {
  display: block;
  font-family: 'Courier New', monospace;
}

#page-title {
  text-align: center;
  font-size: 5em;
}

#game-container {
  background-color: grey;
  margin: 40px auto 0 auto;
  border-radius: 40px;
  display: grid;
  grid-auto-flow: row;
  width: 60%;
  padding: 40px;
}

@media(max-width: 1000px) {
  #game-container {
    width: 90%;
  }
}

#reset-game-button {
  width: 100%;
  padding: 10px;
}

.row {
  margin: 0 10px 0 10px;
}

#buttons-row {
  margin-bottom: 20px;
}

#new-guess-row {
  margin-bottom: 20px;
}

.autoComplete_wrapper {
  display: inline-block;
  width: 100%;
}

#new-guess-row label {
  align-content: center;
  text-align: center;
}

#new-guess-input {
  width: 100%;
}

#guess-results-titles-row {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.guess-result-title {
  display: inline-block;
  background-color: darkslategray;
  font-size: 1.3em;
}

.guess-result-row {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.guess-result-cell {
  font-size: 2em;
}

.guess-result-cell.correct {
  background-color: green;
}

.guess-result-cell.partially-correct {
  background-color: orange;
}

.guess-result-cell.incorrect {
  background-color: red;
}

.cell {
  display: inline-block;
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  align-content: center;
}
